 *{
    padding: 0%;
    margin: 0%;
}


.Testimonials {
    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 2%;
   
  }
  .main{
    display: flex;
    /* gap: 10%;  */
   width: 800px;
    /* height: 40; */
    margin-bottom:60px ;
  }
  
  .head {
    margin-bottom: 20px;
  }
  
  .head h1 {
    font-size: 24px;
    color: #333;
  }
  .words{
    width: 100%;
  }
  
  .test1 {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(243, 240, 241);
    text-align: center;
    padding: 20px 20px;
    /* animation: spin 7s linear infinite; */
    padding-top: 15%;
   
   }
  
  .test1.image {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .image p {
    font-size: 16px;
    color: #555;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  ion-icon {
    font-size: 20px;
    color: rgb(241,159,7);
  }
  
   p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
  }
  
  @keyframes spin {
    from {
      transform: rotate(20deg);
    }
    to {
      transform: rotate(30deg);
    }
  }
  